<div class="container">
  <h1 class="text-info mt-3">Angular Components Interaction <p style="color: red; display: inline;"> Part 3</p>
  </h1>
  <hr>

  <!-- <child (wishEvent)="greet($event)" #childTemplateReference></child> -->
  <!-- <h3>username: {{childTemplateReference.username}}</h3>
  <BUtton (click)="childTemplateReference.greet()"  class="btn btn-primary">greet</BUtton> -->


<!-- viwePoint  -->
<!-- <h3>{{title}}</h3> -->
  
<child></child>

<br><br>
<button (click)="greedEmployee()">WishEmployee</button> &nbsp;
<button (click)="appreciateEmployee()">AppreciateEmployee</button>
  
</div>