<div class="container m-3 p-3">
  <table class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th>EID</th>
        <th>ENAME</th>
        <th>ECITY</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>101</td>
        <td>Anurag</td>
        <td>Lucknow</td>
      </tr>
      <tr>
        <td>102</td>
        <td>Shnau</td>
        <td>Jaunpur</td>
      </tr>
      <tr>
        <td>103</td>
        <td>Python</td>
        <td>Bangalore</td>
      </tr>
      <tr>
        <td>104</td>
        <td>Java</td>
        <td>Noida</td>
      </tr>
    </tbody>
  </table>
</div>