<div class="container m-3">

  <!-- interpolation in Angular  -->

  <!-- <h2 class="text-success">{{title}}</h2>
  <h2 class="text-info">{{message}}</h2>
  <h2>{{d1}}</h2> -->
  <!-- <img src="{{img_loc}}" alt="Anurag"> -->

  <!-- Error -->
  <!-- <h2>{{window.location}}</h2> -->

  <!-- <h2>{{a}}</h2> -->

  <!-- Error-->
  <!-- <h2>{{a=120}}</h2>  -->

  <!-- <h2 class="text-danger">{{2323+ 2323}}</h2>

  <h2>{{f1()}}</h2> -->


  <!-- Property Binding in angular -->

<h2>Username:<input [disabled]="false" value="Anurag"></h2>
<!-- <img [src]="img_loc" alt="anurag"> -->

<h2 bind-innerText="message"></h2>
<h2 [innerHTML]="message"></h2>


<Anurag></Anurag>
<app-employees></app-employees>
<app-students></app-students>

</div>